<html>
<body>
<h2>Upload your file</h2>
<form action="/upload_file/" method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_table }}
<input type="submit" name="Upload" value="Upload" />
</form>
</body>
</html>
